<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Arriba
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content   [fullscreen]="true">
  <ion-card>
    <div id="mapId" style="height:656px"></div>   
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed"  id="iconubicacion">
    <ion-fab-button color="primary">
      <ion-icon name="locate-outline" ios="chevron-back-circle-outline" (click)=(locatePosition())></ion-icon>
    </ion-fab-button> 
  </ion-fab> 
</ion-content>